div.columns {
    background-color: cornflowerblue;
}

.content {
    border: 1px solid black;
    color: #4a4a4a;
}

.content ul {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

p.title.is-1.is-spaced {
    text-align: center;
}

i.fa.fa-bar-chart.fa-5 {
    color: azure;
    font-size: 1em;
}

i.fa.fa-area-chart.fa-5 {
    color: azure;
    font-size: 1em;
}

.nav-item img {
    max-height: 2.75rem;
}

ul.menu-list {
    list-style-type: none;
}

.content li {
    list-style-type: none;
}

.menu {
    margin-left: 2em;
    font-size: 1rem;
}

ul.menu-list {
    border: 1px solid white;
    border-radius: 1em;
    margin: auto;
    float: left;
    margin-left: 27%;
}
.column.link {
    text-align: center;
}
p.menu-label{
  margin-bottom: 1em;
  margin-top: 1em;
}
.hero {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 5em;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
