<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Data Visualisation</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/Chart.min.js" charset="utf-8"></script>

</head>


<body>
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="http://bulma.io">
        <img src="./logo.png" alt="Bulma logo">
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="https://github.com/jgthms/bulma">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="https://twitter.com/jgthms">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-right nav-menu">
      <a class="nav-item" href="#">
        Home
      </a>
      <a class="is-hidden nav-item" href="#">
        <span>Templates</span>
        <span class="tag is-small is-success">New!</span>
      </a>
      <a class="nav-item  is-active" href="#">
        About
      </a>
      <a   class="nav-item href="http="">
        Blog
      </a>
      <div class="nav-item">
        <div class="field is-grouped">
          <p class="control">
            <a id="twitter" class="button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://bulma.io" target="_blank" href="#">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Tweet</span>
            </a>
          </p>
          <a class="button is-primary" href="#">
            <p class="control">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>
  <div class="columns">
    <div class="column column is-12" style="background-color = 'blue'">
      <p class="title is-1 is-spaced"><i class="fa fa-area-chart fa-5" aria-hidden="true"></i> Data Visualisation <i class="fa fa-bar-chart fa-5" aria-hidden="true"></i></p>
    </div>
  </div>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container is-centered">
        <p class="title is-1 is-spaced">
          Repository Content Summary
        </p>
      </div>
    </div>
  </section>
</hr>
<div class="columns">
  <div class="column link">
    <aside class="menu">
      <p class="menu-label">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </p>
      <ul class="menu-list">
        <p class="menu-label">
          Administration
        </p>
        <li><a>Team Settings</a></li>
        <li>
          <a class="is-active">Manage Your Team</a>
          <ul>
            <li><a>Members</a></li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
          </ul>
        </li>
        <li><a>Invitations</a></li>
        <li><a>Cloud Storage Environment Settings</a></li>
        <br>
      </ul>
    </aside>
  </div>
  <section class="hero">
      {{{body}}}
  </section>
  <div class="column"></div>
</div>

</body>

</html>
